$background:#3e4d68;
$button-background:#57657e;
$button-color:#d2d6dd;
.container {
    flex: 1;
    position: relative;
    background: $background;
    .add-order {
        position: absolute!important;
        right: 20px;
        bottom: 20px;
        background: $button-background !important;
        color: $button-color !important;
        border-radius: 50%;
    }
}