.add-order-container {
    border: 1px solid #fff;
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 4px;
    background: #D3CCCC;
    .title {
        padding-left: 16px;
        i {
            font-size: 20px !important;
            line-height: 50px;
            float: left;
        }
    }
}