$background:#596E91;
$item-border-color:#2b3547;
.container {
    height: 100%;
    background: $background;
}

.list {
    
    .list-item {
        height: 88px;
        border-bottom: 1px solid $item-border-color;
    }
}