.search-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    transition: all 1500ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background: rgba(62, 77, 104, 0.8);
    color: #d2d6dd;
    border-bottom: 1px solid rgb(45, 56, 78);
    ul {
        height: 40px;
        display: flex;
        li {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.11rem;
            i {
                margin-left: 0.04rem;
                margin-top: -0.02rem;
                font-size: 0.1rem;
            }
            &.active{
                color: #ffe2e2;
            }
        }
    }
    .choose-lane-container,.choose-tunnage-container {
        .line {
            height: 48px;
            line-height: 48px;
            display: flex;
            align-content: center;
            .lable {
                position: relative;
                width: 66px;
                text-align: center;
                .border {
                    position: absolute;
                    width: 80%;
                    margin: 0;
                    margin-left: 20%;
                    bottom: 8px;
                    border-top: none #e0e0e0;
                    border-left: none #e0e0e0;
                    border-right: none #e0e0e0;
                    border-bottom: 1px solid #e0e0e0;
                }
            }
            .value {
                input {
                    color: #d2d6dd !important;
                }
            }
        }
    }
    .choose-cargo-container,.choose-type-container {
        ul {
            height: 30px;
            li {
                margin: 4px;
                border-radius: 4px;
            }
        }
        .active {
            background: #975959;
            color: #fff2f2;
        }
    }
}